/*NEWEST MODULE*/
.intro {
    text-align: center;
}      
.intro h2 {
    font-size: 55px;
    color: #fce138;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid #fce138;
}